#homepage {
    text-align: center;
    font-size: 100px;

}

.home {
    font-size: 30px;
}

.mozz {
    color: rgb(149, 227, 149);
    background-color: rgba(253, 7, 7, 0.756);
}

.cauli{
    color: rgb(56, 57, 57);
    background-color: rgb(35, 232, 232);
}

.chicken{
    color: rgb(245, 239, 47);
    background-color: rgba(249, 65, 222, 0.986);
}