#homepage {
    text-align: center;
    font-size: 100px;

}

.home {
    font-size: 30px;
}

a,
.home{
    display: inline-block;
    height: auto;
    width: 500px;
}

.mozz.home{
    margin-right: 100px;
    margin-left: 20px;
}

.cauli.home{
    margin-left: 180px;

}

.chicken.home{
    margin-left: 60px;
}

.mozz {
    color: rgb(230, 20, 17);
}

.cauli{
    color: rgb(5, 164, 164);
}

.chicken{
    color: rgb(245, 182, 10);
}